[data-theme="light"] {
    /* hsl (fallback color) */
    --bg-dark: hsl(15, 7%, 89%);
    --bg: hsl(0, 12%, 94%);
    --bg-light: hsl(0, 0%, 100%);
    --text: hsl(300, 2%, 11%);
    --text-muted: hsl(240, 3%, 28%);
    --highlight: hsl(0, 0%, 100%);
    --border: hsl(240, 5%, 79%);
    --border-muted: hsl(228, 2%, 47%);
    --primary: hsl(223, 33%, 42%);
    --secondary: hsl(225, 14%, 40%);
    /* oklch */
    --bg-dark: oklch(0.915 0.004 39.483);
    --bg: oklch(0.949 0.004 17.233);
    --bg-light: oklch(1 0 89.876);
    --text: oklch(0.224 0.002 325.658);
    --text-muted: oklch(0.396 0.008 286.013);
    --highlight: oklch(1 0 89.876);
    --border: oklch(0.828 0.007 286.248);
    --border-muted: oklch(0.57 0.006 274.9);
    --primary: oklch(0.485 0.086 266.242);
    --secondary: oklch(0.484 0.035 270.597);

    --gradient: linear-gradient(0deg, var(--bg) 97%, var(--bg-light));

    --shadow: 0px 2px 2px oklch(0 0 0 / 0.2), 0px 4px 4px oklch(0 0 0 / 0.1);
}

[data-theme="dark"] {
    /* hsl (fallback color) */
    --bg-dark: hsl(0, 0%, 5%);
    --bg: hsl(300, 2%, 12%);
    --bg-light: hsl(300, 1%, 21%);
    --text: hsl(15, 7%, 89%);
    --text-muted: hsl(240, 5%, 79%);
    --highlight: hsl(300, 1%, 21%);
    --border: hsl(240, 3%, 28%);
    --border-muted: hsl(240, 2%, 57%);
    --primary: hsl(223, 100%, 85%);
    --secondary: hsl(227, 33%, 81%);
    /* oklch */
    --bg-dark: oklch(0.164 0 89.876);
    --bg: oklch(0.241 0.002 325.651);
    --bg-light: oklch(0.326 0.002 325.628);
    --text: oklch(0.915 0.004 39.483);
    --text-muted: oklch(0.828 0.007 286.248);
    --highlight: oklch(0.33 0.002 325.627);
    --border: oklch(0.396 0.008 286.013);
    --border-muted: oklch(0.652 0.007 286.194);
    --primary: oklch(0.83 0.084 268.161);
    --secondary: oklch(0.829 0.036 273.187);

    --gradient: linear-gradient(0deg, var(--bg) 97%, var(--bg-light));

    --shadow: 0px 2px 2px oklch(0 0 0 / 0.2), 0px 4px 4px oklch(0 0 0 / 0.1);
}

/* Possible blue alternative to primary red? */
/*--primary: oklch(0.39 0.088 264.456);*/

/*--primary: oklch(0.4 0.1 20);*/



